@import-normalize;

:root {
  --main-bg-color: #000;
  --white:#ffF;
  --grey:#969696;
  --main-color01:#5257CF;
  --main-p-font-size:8pt;
  --h1-fontsize: 18pt;
}
/* Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #3c3c3c;
  border-radius: 5px;
} 
::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 5px;
}
::-webkit-scrollbar-button {
  background-color: #555;
  height: 0;
}
::-webkit-scrollbar-corner {
  background-color: #555;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #000;
  color:white;
}
ul,li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color:var(--white)
}
.home_header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
  h1{
    font-size: var(--h1-fontsize);
    margin: 0;
  }
  .more{
    font-size: var(--main-p-font-size);
    color:var(--grey);
    font-weight: 100;
  }
  .desc{
    font-size: var(--main-p-font-size);
    color:var(--grey);
    font-weight: 100;
    text-align: right;
  }
}

#home{
  width: 80%;
  margin:0 auto;
  position: relative;
  margin-top: -150px;
  z-index: 9;
  #Newest{

    
    .newest_list{
      display: flex;
      width: 100%;

      // justify-content: center;
      // align-items: center;
      &:hover .newest_item:not(:hover){
        filter:brightness(0.5)
      }

      .newest_item{
        flex: 1;
        position: relative;
        margin:0.4%;
        background-repeat: no-repeat;
        background-position:  center;
        background-size: cover;
        transition: 250ms all;
        padding-top:11%;
        cursor: pointer;
        &:first-child {
          margin-left:0;
        }

        &:last-child{
          margin-right: 0;
        }
        &:hover{
          transform: scale(1.2);
          opacity: 1;
          margin:0 1.8%;
          z-index: 1;

        }
      
        &:first-child:hover{
          margin:0 1.8%;
        }

        &:last-child:hover{
            margin:0 1.8%;
        }
        .title{
          position: absolute;
          left:5px;
          bottom:5px;
          font-size: 8pt;
        }

      }
    }
  }
  #Home_services{
    margin-top: 150px;
    .service_list{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      
      &:hover {
        .service_item{
          flex-grow: 1;
        }
        .service_item:not(:hover){
          width: 20px;
        }
      }
      .service_item{
        padding-top:25%;
        position: relative;
        background-repeat: no-repeat;
        background-position:  center;
        background-size: cover;
        transition:all .5s ease;
      }
    }
  }
}


.vimeo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  &:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;

  }
  .react-player{
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
  }
}
.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@import 'header';
@import 'navbar';